@model IEnumerable<CourseEntity>
@{
    ViewData["Title"] = "Courses";
}

<section class="courses">
    <div class="container">
        <h1>Courses</h1>
        <div class="grid">
@foreach(var course in Model)
{
            <section id="@course.Id">
                    <div class="course-card">
                        @if (course.IsBestSeller)
                        {
                            <div class="best-seller">Best Seller</div>
                        }

                        <div class="badge">
                            <a asp-controller="Default" asp-action="Home"><i class="fa-light fa-bookmark"></i></a>
                        </div>
                        @*  <div class="badge">
                            <a href="@Url.Action("Details", "Courses", new { id = course.Id })">Details</a>
                            </div> *@
                        <div class="image-container">
                            <img src="~/images/courseimages/@course.ImageUrl" alt="">
                        </div>
    
                        <div class="content">
                            <p class="h5">@course.Title</p>
                            <p class="text-s">@course.Author</p>
                            <div class="price-flex">
                                @if (!string.IsNullOrEmpty(course.DiscountPrice) && course.DiscountPrice != "0")
                                {
                                    <p class="discount-price">$@course.DiscountPrice</p>
                                    <p class="original-price crossed">$@course.Price</p>
                                }
                                else
                                {
                                    <p class="price">$@course.Price</p>
                                }
                            </div>
                            <div class="divider"></div>
   
                            <footer>
                                <div><p class="text-s"><i class="fa-regular fa-clock"></i> @course.Hours hours</p></div>
                                <div><p class="text-s"><i class="fa-regular fa-thumbs-up"></i>
                                        @{
                                            double likesCount = 0;
                                            if (double.TryParse(course.LikesInNumbers, out double likesNumber))
                                            {
                                                likesCount = likesNumber / 1000;
                                            }
                                        }
                                           @course.LikesInProcent% (@likesCount.ToString("0.0") k)
                                    </p></div>
                            </footer>
                        </div>
                    </div>
            </section>
}
        </div>
    </div>
    <div class="small-sliders">
        <div class="center-content">
            <a class="btn-gray" href=""><</a>
            <a class="btn-gray" href="">1</a>
            <a class="btn-gray" href="">2</a>
            <a class="btn-gray" href="">3</a>
            <a class="btn-gray" href="">4</a>
            <a class="btn-gray" href="">></a>
        </div>
    </div>
</section>
@await Html.PartialAsync("~/Views/Shared/Partials/_WorkWithUsPartial.cshtml")