@model AppDevicesViewModel

<section id="@Model.Id" class="app-devices">
    <div class="container">
        <div class="image-container">
            <img src="@Model.Image?.ImageUrl" alt="@Model.Image?.AltText">
        </div>
        <div class="text-container">
            <h1>@Model.Title</h1>
            @foreach (var rating in Model.StoreRatings)
            {
                <div class="text-container2">
                    <p>@rating.StoreName</p>
                    @foreach (var star in rating.Stars)
                    {
                        <i class="@star.IconName"></i>
                    }
                </div>
            }
            @foreach (var award in Model.AppAwards)
            {
                <div class="text-container3">
                    <div class="text-container4">
                        <h4>@award.AwardTitle</h4>
                        <p>@award.RatingInfo</p>
                    </div>
                    <div class="img-container">
                        <img src="@award.StoreLogo.ImageUrl" alt="@award.StoreLogo.AltText">
                    </div>
                </div>
            }
        </div>
    </div>
</section>